.container {
    margin-top: 50px; /* Отступ сверху */
    display: flex; /* Использование flexbox для расположения элементов */
    align-items: center; /* Вертикальное выравнивание */
}

.text-content {
    flex: 1; /* Занимает одну часть контейнера */
    padding-right: 20px; /* Отступ справа */
}

.large-image {
    flex: 2; /* Занимает две части контейнера */
    width: 100%; /* Ширина картинки */
    height: auto; /* Автоматическая высота для сохранения пропорций */
}
